.search-hero {
  max-width: 500px;
  padding-bottom: 50px;
  margin: auto;
}

.form-control::placeholder {
  font-family: FontAwesome;
}

thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;

  span {
    visibility: hidden;
  }

  &.active {
    color: #000;

    span {
      visibility: visible;
    }
  }
}
